*{
    margin: 0;
    padding: 0;
}
header, article, nav, aside, footer{
    padding: 1em;
}
header, footer{
    height: 20vh;
    background: khaki;
}
aside{
    background-color: pink;
    flex: 0 20vw;
}
nav{
    background: #03dac5;
    flex: 0 0 20vw;
}
.container{
    display: flex;
    flex-grow: 1;
}
body{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}
article{
    flex-grow: 1;
}
